name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"  # Executa uma vez por dia  meia-noite
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v3
        with:
          persist-credentials: false  # Desativamos as credenciais padr칚o do GitHub Actions

      - name: Gerar Snake Animation
        uses: Platane/snk@master
        with:
          github_user_name: osmarDesenvolvedorDeSoftware
          svg_out_path: dist/github-contribution-grid-snake.svg

      - name: Criar diret칩rio dist
        run: mkdir -p dist

      - name: Mover a anima칞칚o para o diret칩rio correto
        run: mv github-contribution-grid-snake.svg dist/github-contribution-grid-snake.svg || echo "Arquivo n칚o encontrado, pulando."

      - name: Configurar Git e Commitar Mudan칞as
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add dist/github-contribution-grid-snake.svg
          git commit -m "Atualizando anima칞칚o da cobra 游냀" || echo "Nada para commit."

      - name: Push para o Reposit칩rio
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/osmarDesenvolvedorDeSoftware/osmarDesenvolvedorDeSoftware.git
          git push origin main || echo "Nada para push."
